// Icons

[data-icon=type] {
  background-image: url(../assets/type.png);
  background-repeat: no-repeat;
}

[data-icon=streams] {
  background-image: url(../assets/streams.png);
  background-repeat: no-repeat;
}

[data-icon=analytics] {
  background-image: url(../assets/analytics.png);
  background-repeat: no-repeat;
}
