// Icons

[data-icon=authenticate] {
  @include img-retina('../assets/icon-authenticate.png', '../assets/icon-authenticate@2x.png', 120px, 120px);
  background-repeat: no-repeat;
}

[data-icon=realtime] {
  @include img-retina('../assets/icon-realtime.png', '../assets/icon-realtime@2x.png', 120px, 120px);
  background-repeat: no-repeat;
}

[data-icon=segment] {
  @include img-retina('../assets/icon-segments.png', '../assets/icon-segments@2x.png', 120px, 120px);
  background-repeat: no-repeat;
}
