// Icons

[data-icon=authenticate] {
  @include img-retina('../assets/icon-authenticate-color.png', '../assets/icon-authenticate-color@2x.png', 100px, 79px);
  background-repeat: no-repeat;
}

[data-icon=realtime] {
  @include img-retina('../assets/icon-realtime-color.png', '../assets/icon-realtime-color@2x.png', 100px, 100px);
  background-repeat: no-repeat;
}

[data-icon=segment] {
  @include img-retina('../assets/icon-segment-color.png', '../assets/icon-segment-color@2x.png', 95px, 100px);
  background-repeat: no-repeat;
}
