.home {
  margin-top: 56px;
  font-size: 1em;
  a {
    display: block;
    padding: 12px;
    padding-left: 56px;
    @include img-retina('../assets/mb-logo-blue-1.png', '../assets/mb-logo-blue-1@2x.png', 36px, 36px);
    background-position: left center;
    background-repeat: no-repeat;
    color: $brand-primary;
    font-weight: 500;
    @include transition(all, .25s);

    &:hover{
      color: $brand-info;
      text-decoration: none;
    }
  }
}

h3.toc-subhead,
h3.toc-subhead a
{
    margin-top: 0em;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #4d525a;
    font-weight: 600;
    margin-bottom: 14px;
    opacity: .8;
}

ul.toc-subhead
{
  padding-left: 0.30em;
  list-style-type: none;
}

h3.toc-subhead a:hover {
  text-decoration: underline;
}

ul.toc-main
{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;

  li, li a {
    color: #4d525a;
  }
}
