pre
{
    border-radius: 0px;
}

p
{
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

ul.body-list,
ol.body-list
{
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
}

.toc-title
{
    margin-bottom: 0em;
}

h3.toc-subhead
{
    margin-top: 0em;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    color: #999999;
}

ul.toc-subhead
{
    padding-left: 0.25em;
    list-style-type: none;
}

a.active-section
{
    font-weight: 600;
}

p.subhead a
{
    text-decoration: none;
    color: #999999;
}

h3.text-info a
{
    text-decoration: none;
    color: #31708f;
}

.field-name
{
    font-family: monospace;
    font-weight: 600;
}

.field-name-light
{
    font-family: monospace;
    font-weight: 500;
}

.tab-panel
{
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subhead
{
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin-top: 1em;
    color: #999999;
}

.bump-down
{
    margin-top: 2em;
}

.screencap
{
    width: 250px;
}

.box-title
{
    position: absolute;
    display: inline;
    top: -1.15em;
    padding: 0 0.5em 0 0.5em;
    background-color: #ffffff;
}

.docs-logo
{
    position: absolute;
    top: 5em;
    left: -2em;
    height: 5em;
    background-color: #eeeeee;
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
}
