
@import './bootstrap';
@import './index';
@import './toc';
@import './icons';
@import './footer';
@import './responsive';

// custom
body {
  border-top: 3px solid $brand-primary;
}

ol {
  padding-left: 20px;
}

pre
{
    border-radius: 0px;
}

h1{
  font-size: 36px;
}

h2,h3,h4{
  font-weight: 300;
}

h3.text-info,
h3.text-info a{
  color: $text-color !important;
}

ul.body-list,
ol.body-list
{
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
}

a.active-section
{
  font-weight: 500;
}

.tab-panel
{
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bump-down
{
    margin-top: 2em;
}

.screencap
{
    width: 250px;
}

.box-title
{
    position: absolute;
    display: inline;
    top: -1.15em;
    padding: 0 0.5em 0 0.5em;
    background-color: #ffffff;
}

.field-name
{
  font-family: monospace;
  font-weight: 500;
}

.field-name-light
{
  font-family: monospace;
  font-weight: 500;
}

.subhead
{
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin-top: 1em;
  color: #999999;
}

h3.text-info a
{
  text-decoration: none;
  color: #31708f;
}

.dns-record
{
  font-size: 0.75em;
}

.optional-param
{
  color: #2578ff;
  font-style: italic;
}
