---
layout: api
title: Send Messages
verb: POST
version: v5
path: messages/send
---

<p>
    DESCRIPTION
</p>

<h1>{{ page.title }}</h1>
<span class="label label-default">{{ page.verb }}</span><code class="api-title"> {{ page.version }}/{{ page.path }}</code>
<br/>
<br/>

<h2>Usage</h2>
<p>
    The hostname for all API calls is <code>https://api.messagebus.com</code>, and when POSTing data to the
    Message Bus API we require the <code>content-type: application/json; charset=utf-8</code> and
    <code>x-messagebus-key: {apiKey}</code> request headers be set.
</p>

<h2>Parameters</h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>Field</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<h2>Return Values</h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>Field</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>results</td>
        <td>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<h2>Examples</h2>
<span class="label label-primary">Request</span>
<pre>curl</pre>

<span class="label label-success">Success</span>
<pre></pre>

<span class="label label-warning">Warning</span>
<pre></pre>

<span class="label label-danger">Error</span>
<pre></pre>

