<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix" data-offset-bottom="200">

                    {% assign intro = site.data.toc.intro %}

                    <h3 class="home"><a href="/" class="text-primary">{{ intro.title }}</a></h3>
                    <ul class="toc-main">
                        {% for chapter in intro.chapters %}
                        <li>
                            <a {% if page.title == chapter[1] %} class="active-section" {% endif %} href="{{ site.data.paths.docs }}/{{ chapter[0] }}">{{ chapter[1] }}</a>
                            {% if page.tocSubheads and page.title == chapter[1] %}
                            <ul class="toc-subhead">
                                {% for subhead in page.tocSubheads %}
                                <li>
                                    <small><a class="text-warning" href="#{{ subhead[0] }}">&raquo; {{ subhead[1] }}</a></small>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>


                    {% assign api = site.data.toc.api %}

                    {% for chapter in api.chapters %}

                        {% assign title  = chapter[0][0] | capitalize %}
                        {% assign linkit = chapter[0][1] %}

                        <h3 class="toc-subhead">
                            {% if linkit == 1 %}<a href="{{ site.data.paths.docs }}/{{ chapter[0][0] }}">{% endif %}
                                {{ title }}
                            {% if linkit == 1 %}</a>{% endif %}
                        </h3>

                        {% if page.tocSubheads and page.title == title %}
                        <ul class="toc-subhead">
                            {% for subhead in page.tocSubheads %}
                            <li>
                                <small><a class="text-warning" href="#{{ subhead[0] }}">&raquo; {{ subhead[1] }}</a></small>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <ul class="toc-main">
                            {% for section in chapter[1] %}
                            <li>
                                <a {% if page.title == section[1] %} class="active-section" {% endif %} href="{{ site.data.paths.docs }}/{{ section[0] }}">{{ section[1] }}</a>
                                {% if page.tocSubheads and page.title == section[1] %}
                                <ul class="toc-subhead">
                                    {% for subhead in page.tocSubheads %}
                                    <li>
                                        <small><a class="text-warning" href="#{{ subhead[0] }}">&raquo; {{ subhead[1] }}</a></small>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </div>
    <footer class="page-footer clearfix">
      <div class="col-md-6">
        <p class="page-footer-copy">
          &copy; 2014 {{ site.data.company.name }}. All Rights Reserved.
        </p>
      </div>
      <div class="col-md-6">
        <ul class="page-footer-menu">
          <li><a href="http://beta.messagebus.com">Home</a></li>
          <li><a href="http://beta.messagebus.com/about">About</a></li>
          <li><a href="/">Documentation</a></li>
          <li><a href="http://beta.messagebus.com/privacy-policy">Policy</a></li>
          <li><a href="http://beta.messagebus.com/terms-of-service">Terms</a></li>
        </ul>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <!--
        TODO: google analytics or whoever we're using for tracking
    -->

    <script>
        // if( pageScript != undefined )
        // {
        //     pageScript();
        // }
    </script>

</body>
</html>
